.about {
    padding: 0 1.5rem 8.75rem 1.5rem;
    text-align: center;

    h2 {
        margin-bottom: 5rem;
        font-size: 3rem;
        letter-spacing: -0.67px;
        line-height: 3rem;
    }

    &__item {

        &:not(:last-child) {
            margin-bottom: 3.5rem;
        }

        img {
            display: inline;
            margin-bottom: 2rem;
        }

        h4 {
            font-size: 1.75rem;
            margin-bottom: 1rem;
            letter-spacing: -0.39px;
        }

        p {
            color: $DarkGrayishViolet;
            line-height: 1.625rem;
        }
    }
}