html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;;
}

*,*::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4 {
    margin: 0;
    font-family: $DmDisplay;
    font-weight: 400;
}

p,button,li,h5 {
    font-family: $Karla;
}

button {
    cursor: pointer;
    padding: 1em 2.192em;
    font-size: 0.8125rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: bold;
    color: white;
    background: transparent;
    border: 1.5px white solid;

    &:hover {
        background: white;
        color: $VeryDarkViolet;
    }
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: center;

    &.noscroll {
        position: fixed; 
        overflow-y: scroll;
    }
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

li {
    list-style: none;
}

img {
    display: block;
}


