.hero {
    text-align: center;

    &__text {
        padding: 5.8125rem 1.5rem;
        background: url(/images/bg-pattern-intro-left-mobile.svg) no-repeat top left,
                    url(/images/bg-pattern-intro-right-mobile.svg) bottom -12.3125rem right no-repeat;
        background-color: $DarkViolet;

        h1 {
            color: white;
            font-size: 3rem;
            margin-bottom: 1rem;
            letter-spacing: -0.67px;
            line-height: 3rem;
            font-weight: 400;
        }

        p {
            font-size: 1rem;
            line-height: 1.625rem;
            margin-bottom: 2rem;
            color: $VeryLightGray;
        }
    }
}